In [2]:
from typing import List
import pandas as pd
import numpy as np
from yahoofinancials import YahooFinancials
import matplotlib.pyplot as plt

In [3]:
def get_history_data(tickers:List[str], start_date:str, end_date:str):
    print('...Downloading data...')
    print(f'Starting date: {start_date}')
    print(f'Ending date: {end_date}')

    frames = []
    for ticker in tickers:
        tickerData = YahooFinancials(ticker).get_historical_price_data(start_date, end_date, time_interval='daily')
        tickerDf = pd.DataFrame(tickerData[ticker]['prices']).drop('date', axis=1).set_index('formatted_date')
        tickerDf.insert(0, 'ticker', ticker, True)
        tickerDf.to_csv(f'./data/{ticker}.csv')
        frames.append(tickerDf)

    DATA = pd.concat(frames)
    DATA.to_csv('./data/ASSET_DATA.csv')
    return DATA

In [4]:
assets = ['TSLA', 'GME', "AAPL"]
sd = '2014-01-01'
ed = '2016-12-31'
DATA = get_history_data(assets, start_date=sd, end_date=ed)

...Downloading data...
Starting date: 2014-01-01
Ending date: 2016-12-31

In [6]:
close = DATA[['close', 'ticker']]
close

                    close ticker
formatted_date
2014-01-02      30.020000   TSLA
2014-01-03      29.912001   TSLA
2014-01-06      29.400000   TSLA
2014-01-07      29.872000   TSLA
2014-01-08      30.256001   TSLA
...                   ...    ...
2016-12-23      29.129999   AAPL
2016-12-27      29.315001   AAPL
2016-12-28      29.190001   AAPL
2016-12-29      29.182501   AAPL
2016-12-30      28.955000   AAPL

[2268 rows x 2 columns]

In [16]:
def compute_individual_exp():
        """
        Computes the vector of the individual assets' expected returns
        """
        mean = np.zeros(len(assets))
        for count, ticker in enumerate(assets):
            close = DATA['close'][DATA['ticker']==ticker]
            mean[count] = close.mean()
        return mean

In [17]:
compute_individual_exp()

array([44.20928313, 36.05310842, 26.40905517])