In [137]:
from typing import List
import pandas as pd
import numpy as np
from yahoofinancials import YahooFinancials
import matplotlib.pyplot as plt

In [151]:
def get_history_data(tickers:List[str], start_date:str, end_date:str):
    print('...Downloading data...')
    print(f'Starting date: {start_date}')
    print(f'Ending date: {end_date}')

    frames = []
    for ticker in tickers:
        tickerData = YahooFinancials(ticker).get_historical_price_data(start_date, end_date, time_interval='daily')
        tickerDf = pd.DataFrame(tickerData[ticker]['prices']).drop('date', axis=1).set_index('formatted_date')
        tickerDf.insert(0, 'ticker', ticker, True)
        tickerDf.to_csv(f'./data/{ticker}.csv')
        frames.append(tickerDf)

    DATA = pd.concat(frames)
    DATA.to_csv('./data/ASSET_DATA.csv')
    return DATA

In [152]:
assets = ['TSLA', 'GME', "AAPL"]
sd = '2014-01-01'
ed = '2016-12-31'
DATA = get_history_data(assets, start_date=sd, end_date=ed)

...Downloading data...
Starting date: 2014-01-01
Ending date: 2016-12-31

,ticker,high,low,open,close,volume,adjclose
formatted_date,,,,,,,
2014-01-02,TSLA,30.496000,29.309999,29.959999,30.020000,30942000,30.020000
2014-01-03,TSLA,30.438000,29.719999,30.000000,29.912001,23475000,29.912001
2014-01-06,TSLA,30.080000,29.048000,30.000000,29.400000,26805500,29.400000
2014-01-07,TSLA,30.080000,29.049999,29.524000,29.872000,25170500,29.872000
2014-01-08,TSLA,30.740000,29.752001,29.770000,30.256001,30816000,30.256001
...,...,...,...,...,...,...,...
2016-12-23,AAPL,29.129999,28.897499,28.897499,29.129999,56998000,27.459557
2016-12-27,AAPL,29.450001,29.122499,29.129999,29.315001,73187600,27.633940
2016-12-28,AAPL,29.504999,29.049999,29.379999,29.190001,83623600,27.516119
2016-12-29,AAPL,29.277500,29.100000,29.112499,29.182501,60158000,27.509050
2016-12-30,AAPL,29.299999,28.857500,29.162500,28.955000,122345200,27.294590

In [160]:
close = DATA['close'][DATA['ticker']=='TSLA']

In [161]:
close

0      30.020000
1      29.912001
2      29.400000
3      29.872000
4      30.256001
         ...
751    42.667999
752    43.905998
753    43.948002
754    42.936001
755    42.737999
Name: close, Length: 756, dtype: float64