In [8]:
import portfolio_lp_1
import pandas as pd
import numpy as np

In [2]:
pf = portfolio_lp_1.Portfolio(["GME", "AAPL", "TSLA"], 1000, [0.2, 0.2, 0.6], "2019-01-01", "2020-01-01")

************************************************************
...Starting portfolio session...
Total number of assets in the portfolio: 3
Initial amount invested: 1000 $
  Ticker	Initial Weights
  GME		0.2
  AAPL		0.2
  TSLA		0.6
************************************************************

In [24]:
df = pf.asset_data
df.head()
df.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Ticker'], dtype='object')

In [4]:
closing_prices = df[['Close','Ticker']]
closing_prices

                Close Ticker
Date
2018-12-31  12.205872    GME
2019-01-02  12.641105    GME
2019-01-03  12.544387    GME
2019-01-04  14.739896    GME
2019-01-07  14.972020    GME
...               ...    ...
2019-12-24  85.050003   TSLA
2019-12-26  86.188004   TSLA
2019-12-27  86.075996   TSLA
2019-12-30  82.940002   TSLA
2019-12-31  83.666000   TSLA

[759 rows x 2 columns]

We redistribute the stock data in a single matrix where each column contains the closing prices relative to the respective Ticker ordered chronologically.

In [5]:
sym_df = pd.DataFrame()
for sym in pf.assets:
    df = closing_prices[closing_prices['Ticker'] == sym]
    sym_df.insert(loc=len(sym_df.columns), column=sym, value=df['Close'])

In [6]:
sym_df

                  GME       AAPL       TSLA
Date
2018-12-31  12.205872  38.395920  66.559998
2019-01-02  12.641105  38.439735  62.023998
2019-01-03  12.544387  34.610851  60.071999
2019-01-04  14.739896  36.088364  63.537998
2019-01-07  14.972020  36.008041  66.991997
...               ...        ...        ...
2019-12-24   5.440000  70.234581  85.050003
2019-12-26   5.400000  71.628067  86.188004
2019-12-27   5.900000  71.600876  86.075996
2019-12-30   6.130000  72.025833  82.940002
2019-12-31   6.080000  72.552094  83.666000

[253 rows x 3 columns]

In [20]:
mean = np.mean(sym_df.to_numpy(), axis=0, dtype=np.float64)
sym_df_demean = sym_df - mean
m = sym_df.shape[0]
print(m)
cov = (sym_df_demean.T @ sym_df_demean) / m

253

In [22]:
type(cov)

pandas.core.frame.DataFrame